$maroon: #c44527;
$maroon1: #c64526;
$gray: #d3d2d2;
$white: #fff;
$black: #000;
$facebook: #3b5998;
$linkedin: #0077b5;
$hrline: rgba(211, 210, 210, 0.5);
$cardColor: #231f20;
$normalContainerWidth: 65vw;
$containerWidthfor1400px: 90vw;
$mobileContainerWidth: 100%;
$productsBackground:#f1f0f0;